



<div class="container mt-5">
    <h1 class="text-center text-primary">รายชื่อสมาชิกในกลุ่ม</h1>
    <div class="row mt-4 text-center">
        <div class="col">
            <div class="card mx-auto border-primary shadow-lg" style="width: 18rem; transition: transform 0.3s;">
                <img src="assets/313.png" class="card-img-top" alt="..." style="transition: transform 0.3s;">
                <div class="card-body text-primary">
                    <h5 class="card-title">นายพีระพัฒน์ เนตใน</h5>
                    <p class="card-text">เลขที่ 8 ระดับชั้น ปวส.1/5</p>
                    <a href="#" class="btn btn-outline-primary">พี</a>
                </div>
            </div>
        </div>
  
        <div class="col">
            <div class="card mx-auto border-primary shadow-lg" style="width: 18rem; transition: transform 0.3s;">
                <img src="assets/311.jpg" class="card-img-top" alt="..." style="transition: transform 0.3s;">
                <div class="card-body text-primary">
                    <h5 class="card-title">นายโชติวัฒน์ ยศไธสง</h5>
                    <p class="card-text">เลขที่ 10 ระดับชั้น ปวส.1/5</p>
                    <a href="#" class="btn btn-outline-primary">เบส</a>
                </div>
            </div>
        </div>
  
        <div class="col">
            <div class="card mx-auto border-primary shadow-lg" style="width: 18rem; transition: transform 0.3s;">
                <img src="assets/312.png" class="card-img-top" alt="..." style="transition: transform 0.3s;">
                <div class="card-body text-primary">
                    <h5 class="card-title">นายอภิชิต แพร่สาร</h5>
                    <p class="card-text">เลขที่ 1 ระดับชั้น ปวส.1/5</p>
                    <a href="#" class="btn btn-outline-primary">บอม</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mx-auto border-primary shadow-lg" style="width: 18rem; transition: transform 0.3s;">
                <img src="assets/314.png" class="card-img-top" alt="..." style="transition: transform 0.3s;">
                <div class="card-body text-primary">
                    <h5 class="card-title">สันติสุข เย็นศิลป์</h5>
                    <p class="card-text">เลขที่ 2 ระดับชั้น ปวส.1/5</p>
                    <a href="#" class="btn btn-outline-primary">บาส</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card:hover {
        transform: scale(1.05);
    }
    .card-img-top:hover {
        transform: scale(1.1);
    }
</style>
